.pdfdownload {
    font-size: 3vh;
    text-align: right;
}

.journal-picture {
    width: 100%;
}

footer {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}